<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
        }
        .longStringBreak {
            word-wrap: break-word;
            border: 1px solid blue;
            /* Just to keep text selection hightlight inside the table: */
            overflow: hidden;
        }
        table, th, td {
            border: 1px solid black;
            overflow:hidden;
        }
    </style>
</head>
<body>
<div>
    <h3>Reporte de Hospedajes</h3>

        <% if (lodgings.length > 0) { %>
            <% lodgings.forEach(placeLodging => {%>
        <table>
            <h3><%= placeLodging.placeName %></h3>
            <tr>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Monto total</th>
                <th>Lugar</th>
            </tr>
            <% placeLodging.lodgings.forEach(lodging => {%>
            <tr>
                    <td><%= lodging.start %></td>
                    <td><%= lodging.end %></td>
                    <td><%= lodging.mountTotal %></td>
                    <td><%= placeLodging.placeName %></td>
            <tr>
            <%  });%>
            <%  });%>
            <% }%>
        </table>
</div>
</body>
</html>

