<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div>
    <div>
        <h3>Reporte de Personas</h3>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Rut</th>
                    <th>Edad</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Estado</th>
                    <th>Region</th>
                    <th>Comuna</th>
                    <th>Telefono</th>
                    <th>Email</th>
                </tr>
                <% if (persons.length > 0) { %>
                    <% persons.forEach(persons => {%>
                        <tr>
                            <td><%= persons.firstName %></td>
                            <td><%= persons.lastName %></td>
                            <td><%= persons.rut %></td>
                            <td><%=persons.age %></td>
                            <td><%=persons.birthdate %></td>
                            <td><%=persons.state %></td>
                            <td><%=persons.region %></td>
                            <td><%=persons.comuna %></td>
                            <td><%=persons.phone %></td>
                            <td><%= persons.email %></td>
                        </tr>
                        <tr>
                            <td><%= persons.firstName %></td>
                            <td><%= persons.lastName %></td>
                            <td><%= persons.rut %></td>
                            <td><%=persons.age %></td>
                            <td><%=persons.birthdate %></td>
                            <td><%=persons.state %></td>
                            <td><%=persons.region %></td>
                            <td><%=persons.comuna %></td>
                            <td><%=persons.phone %></td>
                            <td><%= persons.email %></td>
                        </tr>
                        <tr>
                            <td><%= persons.firstName %></td>
                            <td><%= persons.lastName %></td>
                            <td><%= persons.rut %></td>
                            <td><%=persons.age %></td>
                            <td><%=persons.birthdate %></td>
                            <td><%=persons.state %></td>
                            <td><%=persons.region %></td>
                            <td><%=persons.comuna %></td>
                            <td><%=persons.phone %></td>
                            <td><%= persons.email %></td>
                        </tr>
                        <tr>
                            <td><%= persons.firstName %></td>
                            <td><%= persons.lastName %></td>
                            <td><%= persons.rut %></td>
                            <td><%=persons.age %></td>
                            <td><%=persons.birthdate %></td>
                            <td><%=persons.state %></td>
                            <td><%=persons.region %></td>
                            <td><%=persons.comuna %></td>
                            <td><%=persons.phone %></td>
                            <td><%= persons.email %></td>
                        </tr>
                        <tr>
                            <td><%= persons.firstName %></td>
                            <td><%= persons.lastName %></td>
                            <td><%= persons.rut %></td>
                            <td><%=persons.age %></td>
                            <td><%=persons.birthdate %></td>
                            <td><%=persons.state %></td>
                            <td><%=persons.region %></td>
                            <td><%=persons.comuna %></td>
                            <td><%=persons.phone %></td>
                            <td><%= persons.email %></td>
                        </tr>
                        <tr>
                            <td><%= persons.firstName %></td>
                            <td><%= persons.lastName %></td>
                            <td><%= persons.rut %></td>
                            <td><%=persons.age %></td>
                            <td><%=persons.birthdate %></td>
                            <td><%=persons.state %></td>
                            <td><%=persons.region %></td>
                            <td><%=persons.comuna %></td>
                            <td><%=persons.phone %></td>
                            <td><%= persons.email %></td>
                        </tr>
                        <tr>
                            <td><%= persons.firstName %></td>
                            <td><%= persons.lastName %></td>
                            <td><%= persons.rut %></td>
                            <td><%=persons.age %></td>
                            <td><%=persons.birthdate %></td>
                            <td><%=persons.state %></td>
                            <td><%=persons.region %></td>
                            <td><%=persons.comuna %></td>
                            <td><%=persons.phone %></td>
                            <td><%= persons.email %></td>
                        </tr>
                        <tr>
                            <td><%= persons.firstName %></td>
                            <td><%= persons.lastName %></td>
                            <td><%= persons.rut %></td>
                            <td><%=persons.age %></td>
                            <td><%=persons.birthdate %></td>
                            <td><%=persons.state %></td>
                            <td><%=persons.region %></td>
                            <td><%=persons.comuna %></td>
                            <td><%=persons.phone %></td>
                            <td><%= persons.email %></td>
                        </tr>
                    <%  });%>
                <% }%>
            </table>
    </div>
</div>
</body>
</html>
